/*Write all of your CSS here*/
* {
    margin: 0;
    border: 0;
    padding: 0;
}

.inline {
    display: inline-block;
    vertical-align: top;
    margin-top: 70px;
}


.center h1 {
    margin-top: 70px;
}

input {
    display: block; 
}

.errors {
    color: red;
    display: inline-block;
}

.navbar p {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    margin-left: 50px;
}

.navbar p, .navbar a, .navbar h1 {
    color: blanchedalmond;
    font-size: 42px;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: rgb(7, 87, 87);
    padding: 50px;
    display: block;
}

.grey {
    margin-top: 50px;
    background-color: rgb(138, 136, 136);
    padding: 30px 50px;
}