@{
    ViewData["Title"] = "Home Page";
}
@model LoginRegistration.Models.User
<div asp-validation-summery="All"></div>
<p class="center">@ViewBag.Error</p>
<div class="inline">
    <h1>Register</h1>
    <form asp-controller="Users" asp-action="Register" method="post">
        <span asp-validation-for="FirstName"></span>
        <label asp-for="FirstName">First Name: </label>
        <input asp-for="FirstName" type="text" name="FirstName">
        <span asp-validation-for="LastName"></span>
        <label asp-for="LastName">Last Name: </label>
        <input asp-for="LastName" type="text" name="LastName">
        <span asp-validation-for="Email"></span>
        <label asp-for="Email">Email: </label>
        <input asp-for="Email" type="email" name="Email">
        <span asp-validation-for="Password"></span>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" name="Password">
        <span asp-validation-for="ConfirmPassword"></span>
        <label asp-for="ConfirmPassword">Confirm Password: </label>
        <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword">
        <input type="submit" value="Submit">
    </form>
</div>

<div class="inline">
    <h1>Log In</h1>
    <form asp-controller="Users" asp-action="Login" method="POST">
        <span asp-validation-for="Email"></span>
        <label asp-for="Email">Email: </label>
        <input asp-for="Email" type="email" name="Email">
        <span asp-validation-for="Password"></span>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" name="Password">
        <input type="submit" value="Submit">
    </form>
</div>


