@{
    ViewData["Title"] = "Add Thing";
}

<div class="container center">
    <h1>Create New Object</h1>
    <form action="creatething">
        <label>Thing:</label>
        <input type="text">

        <label>Thing:</label>
        <input type="text">

        <label>Thing:</label>
        <input type="text">

        <input type="submit" value="Create Thing">
    </form>
</div>
