@{
    ViewData["Title"] = "Home Page";
}
@model UserDashboard.Models.RegisterViewModel
<div class="container">
    <div class="center grey">
        <h1 class="twelve columns">Welcome to the User Dashboard!</h1>
        <p>We're going to build a cool application using a MVC framework! This appliation was built with the Village88 folks!</p>
    </div>
    <div class="inline three columns">
        <h4>Manage Users</h4>
        <p>Using the application, you'll lean how to add, remove and edit users for the application</p>
    </div>
    <div class="inline four columns">
        <h4>Leave Messages</h4>
        <p>Users will be able to leave a message to another user using the application</p>
    </div>
    <div class="inline four columns">
        <h4>Edit User Information</h4>
        <p>Admins will be able to edit another user's information (email address, first name, last name, etc)</p>
    </div>
    <div>
        <div class="inline four offset-by-two columns">
            <h1>Register</h1>
            <form asp-controller="Home" asp-action="Register" method="POST">
                <span asp-validation-for="FirstName"></span>
                <label asp-for="FirstName">First Name:</label>
                <input type="text" asp-for="FirstName" name="FirstName"/>

                <span asp-validation-for="LastName"></span>
                <label asp-for="LastName">Last Name:</label>
                <input type="text" asp-for="LastName" name="LastName"/>

                <span asp-validation-for="Email"></span>
                <label asp-for="Email">Email:</label>
                <input type="email" asp-for="Email" name="Email"/>

                <span asp-validation-for="Password"></span>
                <label asp-for="Password">Password:</label>
                <input type="password" asp-for="Password" name="Password"/>

                <span asp-validation-for="ConfirmPassword"></span>
                <label asp-for="ConfirmPassword"></label>
                <input type="password" asp-for="ConfirmPassword" name="ConfirmPassword"/>

                <input type="submit" value="Register">
            </form>
        </div>

        <div class="inline four columns">
            <h1>Login</h1>
            <form asp-controller="Home" asp-action="Login" method="POST">
                <label asp-for="Email">Email:</label>
                <input type="email" asp-for="Email" name="Email"/>

                <label asp-for="Password">Password:</label>
                <input type="password" asp-for="Password" name="Password"/>

                <input type="submit" value="Login">
            </form>
            <div class="errors">
                @{
                    if(ViewBag.Error != null)
                    {
                        <p>@ViewBag.Error</p>
                    }
                }
                @{
                    if(TempData["SignIn"] != null)
                    {
                        <p>@TempData["SignIn"]</p>
                    }
                }
            </div>
        </div>
    </div>
</div>



